@media(max-width: 425px){
    .Categories-Container{
    height:70vh;
    display: flex;
    flex-wrap: wrap;
    }
    .Categories-Container a{
    height: 100px;
    width:100px;
    }
    .bathroom-image{
    height: 150px;
    }
}