.Product-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px
}
.Product-Image{
    height:200px;
    width: 150px
}
.Product-Title{
    font-family: 'Blinker', sans-serif;
    margin: 5px
}
.Product-Price{
    font-family: 'Blinker', sans-serif;
    margin: 5px
}
.Cart-Button{
    border: none;
    background-color: #6B7A8F;
    color: white;
    margin: 5px
}
.Increase-Button{
    border: none;
    font-size: 1.3em;
    width: 25px;
    text-align: center;
    margin: 5px
}
.Decrease-Button{
    border: none;
    font-size: 1.3em;
    width: 25px;
    text-align: center;
    margin: 5px
}
.Quantity-Display{
    text-align: center;
    font-family: 'Unica One', cursive;
    font-size: 1.3em;
}
.Wishlist-Button{
    border: none;
    background-color: #F7882F;
    color: white;
    margin: 5px
}
@media(min-width: 426px){
    .Product-Container{
        margin-top: 1200px
    }
    .Product-Image{
        height: 300px;
        width: 300px
    }
    .Product-Title{
        font-size: 1.5em
    }
    .Product-Price{
        font-size: 1.2em
    }
    .Cart-Button{
        height: 40px;
        width: 120px;
        font-size: 1em
    }
    .Quantity-Display{
        font-size: 1.5em
    }
    .Increase-Button{
        height: 30px;
        width: 30px
    }
    .Decrease-Button{
        height: 30px;
        width: 30px
    }
    .Quantity-Title{
        font-size: 1.2em;
        margin-left: 5px
    }
    .Wishlist-Button{
        height: 30px;
    }
}
