.Login-Title-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px
}
.Login-Title{
    font-family: 'Unica One', cursive;
    font-weight: bold;
    font-size: 3em;
    color: #F7C331;
}
.underline{
    height: 5px;
    width: 150px;
    background: linear-gradient(to right, #F7882F, #F7C331)
}
.Welcome-Message{
    font-family: 'Forum', cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2em
}
.Sign-In-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px
}
.Register-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px
}
.Login-Button{
    border: none;
    background-color: #687A8F;
    color: white;
    height: 25px;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.Register-Phrase{
    margin-bottom: 5px;
    font-family: 'Forum', cursive;
    font-size: 1.2em
}
.Submit-Button{
    border: none;
    background-color: #687A8F;
    height: 25px;
    width: 60px;
    margin-top: 5px
}
.Submit-Button a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.Sign-In-Bottom-Space{
    height: 18vh;
}
.Register-Title{
    font-family: 'Unica One', cursive;
    font-weight: bold;
    font-size: 3em;
    color: #F7C331;
}
.Register-Underline{
    height: 5px;
    width: 150px;
    background: linear-gradient(to right, #F7882F, #F7C331);
    margin-bottom: 5px
}
@media(min-width: 426px){
    .Header-Container{
        position: absolute;
        top: 0px;
        z-index: 1;
    }
    .Account-Container{
        background-image: url('https://images.unsplash.com/photo-1498462335304-e7263fe3925a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: -80px;
        height: 1000px
    }
    .Sign-In-Container{
       position: absolute;
       margin-top: 300px;
       margin-left: 790px
    }
    .Register-Container{
        position: absolute;
        margin-top: 500px;
        margin-left: 825px
    }
    .Login-Title{
        font-size: 64px
    }
    .underline{
        width: 200px
    }
    .Register-Title{
        font-size: 64px
    }
    .Register-Underline{
        width: 300px
    }
    .Welcome-Message{
        color: white;
        font-size: 24px
    }
    .Register-Phrase{
        color: white;
        font-size: 24px
    }
    input{
        width: 250px;
        margin: 2px;
        border: 2px solid darkgrey;
        outline: none;
    }
    input:focus{
        border: 2px solid #F7C331;
    }
    .Login-Button{
        height: 30px;
        width: 60px
    }
    .Submit-Button{
        height: 30px;
        width: 70px
    }
    

}