.Catchphrase-Intro{
    color: #DCC7AA;
    font-family: 'Staatliches', cursive;
    font-size:3em
}
.First-Home{
    color: #F7C331;
    font-family: 'Staatliches', cursive;
    font-size:3em;
    margin-left: 8px
}
.Catchphrase-Middle{
    color:#F7882F;
    font-family: 'Staatliches', cursive;
    font-size:3em
}
.Catchphrase-Last{
    color: #DCC7AA;
    font-family: 'Staatliches', cursive;
    font-size:3em;
    margin-left: 8px;
}
.Last-Home{
    color:#F7C331;
    font-family: 'Staatliches', cursive;
    font-size:3em;
    margin-top: 50px;
    margin-left: -160px
}
.Separator{
    display: flex;
}
.Second-Separator{
    display: flex;
}
.Hook-Container{
    display: flex;
    height: 3vh;
    margin-top: 15px;
    justify-content: center;
}
.Hook-Container a{
    color: #6B7ABF;
}
.Hook{
    font-family: 'Lalezar', cursive;
}
.Condition{
    font-family: 'Lalezar', cursive;
    margin-left: 3px;
    color:#F7882F;
}
.Hook-Second{
    font-family: 'Lalezar', cursive;
    margin-left: 3px
}
.Second-Register-Link{
    font-family: 'Lalezar', cursive;
    text-decoration: none;
    margin-left: 3px
}
.Hook-End{
    font-family: 'Lalezar', cursive;
    margin-left: 3px;
}
.Intro-Container{
    display: flex;
    height: 7vh;
    justify-content: center;
}
.Category-Intro{
    font-family: 'Staatliches', cursive;
    font-size: 1.2em;
    align-items: center;
    margin-top: 20px;
}
@media(min-width: 426px){
    .Home-Container{
        background-image: url("https://images.unsplash.com/photo-1503174971373-b1f69850bded?ixlib=rb-1.2.1&auto=format&fit=crop&w=1387&q=80");
        top: 0px;
        margin-top: -15px;
        background-size: cover;
        height: 900px
    }
    .Separator{
        position: absolute;
        margin-top: 150px;
        margin-left: 640px;
    }
    .Second-Separator{
        position: absolute;
        margin-top: 150px;
        margin-left: 970px
    }
    .Last-Home{
        margin-left: 5px;
        margin-top: 0px;
    }
    .Hook-Container{
        position: absolute;
        margin-top: 920px;
        margin-left: 685px;
        font-size: 1.5em;
    }
    .Intro-Container{
        position: absolute;
        margin-top: 960px;
        margin-left: 833px;
        font-size: 1.7em
    }
    .Categories-Container{
        position: absolute;
        margin-top: 520px
    }
    .Catchphrase-Intro{
        font-size: 3.5em;
        color: white;
    }
    .First-Home{
        font-size: 3.5em
    }
    .Catchphrase-Middle{
        font-size: 3.5em
    }
    .Catchphrase-Last{
        font-size: 3.5em;
        color: white;
    }
    .Last-Home{
        font-size: 3.5em
    }
    .Footer-Container{
        position: absolute;
        margin-top: 1550px
    }
}