    .Header{
        width: 100vw;
        height: 10vh;
        background-color: #6B7ABF;
        display: flex;
        justify-content: space-around;
        align-items: center
    }
    .Title{
        color: white;
        font-size: 1.8em;
        font-family: 'Pompiere', cursive;
        margin-top: 20px;
    }
  .menuOff {
      display: none;
  }
  .menuOn{
      display: flex;
      flex-direction: column;
      align-items: center
  }
  .Right-Container{
      background-color: #DCC7AA;
      width: 100vw;
      position: absolute;
      margin-left: -326px;
      height: 128px;
      margin-top: 25px
  }
  .Right-Container a{
      font-size: 1.5em;
      text-decoration: none;
      font-family: 'Coda', cursive;
      font-weight: 100;
  
  }
  .Home-Link{
      color: white;
      display: flex;
      width: 425px;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid;
  }
  .Cart-Link{
      color: white;
      width: 425px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 2px solid;
  }
  .Account-Settings{
      color: white;
      width: 425px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 2px solid; 
  }
  .Sign-In-Link{
      color: white;
      width: 425px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .Purchase-History-Link{
      color: white;
      width: 425px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 2px solid;
  }
  .Logout{
      border: none;
      color: white;
      font-size: 1.5em;
      text-decoration: none;
  }

  .Home-Link:hover{
      color: #F7C331;
  }
  .Cart-Link:hover{
      color: #F7C331;
  }
  .Account-Settings:hover{
      color: #F7C331
  }
  .Sign-In-Link:hover{
      color: #F7C331
  }
  .Purchase-History-Link:hover{
      color: #F7C331
  }
  .Logout:hover{
    color: #F7C331;
  } 
  .symbol{
      color:white;
      font-size:4.5em;
      font-family: 'Unica One', cursive;
      
  }
  .Title-Container{
      display: flex;
      margin-left: -25px
  }

@media(min-width: 426px){
    .Header{
    height: 10vh;
    width: 100vw;
    background-image: linear-gradient(to right, #6B7ABF, #DCC7AA);
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    .Right-Container{
    display: flex;
    height: 0px;
    width: 500px;
    justify-content: space-between;
    margin-left: -750px;
    margin-top: -8px
    }
    .Title{
        color: white;
        font-size: 2.5em;
        margin-left: -50px;
    }
    i.material-icons{
    display: none;
    }
    .Home-Link{
        width: 90px;
        border: none;
        border-right: 2px solid white;
    }
    .Cart-Link{
        width: 70px;
        border: none;
        border-right: 2px solid white
    }
    .Account-Settings{
        width: 190px;
        border: none;
        border-right: 2px solid white
    }
    .Sign-In-Link{
        width: 180px
    }
    .Purchase-History-Link{
        width: 190px;
        border: none;
        border-right: 2px solid white
    }
    .Home-Link:hover{
        border-bottom: 2px solid #F7C331;
    }
    .Cart-Link:hover{
        border-bottom: 2px solid #F7C331;
    }
    .Account-Settings:hover{
        border-bottom: 2px solid #F7C331;
    }
    .Sign-In-Link:hover{
        border-bottom: 2px solid #F7C331;
    }
    .Purchase-History-Link:hover{
        border-bottom: 2px solid #F7C331;
    }
    .menuOn{
        width: 500px;
        display: flex;
    }
}

